<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joke-Chuck-Norris</title>
</head>
<body>
  <div>
    <p> <%= joke %> </p>

    <a href="/">Voltar para página inicial</a>
  </div>
</body>
</html>